name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - uses: ryanwinter/arm-none-eabi-gcc@v2.0.1
      with:
        # GNU Embedded Toolchain for Arm release name, in the V-YYYY-qZ format (e.g. "9-2019-q4")
        release: '9-2019-q4'
 
#     - name: make-PLOOC_template_gcc
#       run: cd ${{github.workspace}}/CI/PLOOC_template_gcc && make
